{
    "NGINX_NMS_USERNAME": "YOUR USERNAME",
    "NGINX_NMS_PASSWORD": "YOUR SECRET PASSWORD"
    "NGINX_APIGW_USERNAME": "YOUR SECRET USERNAME"
    "NGINX_APIGW_PASSWORD": "YOUR SECRET PASSWORD"
    "NGINX_DEVPORTAL_USERNAME": "YOUR SECRET USERNAME"
    "NGINX_DEVPORTAL_PASSWORD": "YOUR SECRET PASSWORD"
}
